span{
        background-color: gold;
    }
    .p{
        color: honeydew; background-color: forestgreen;
    }
    .dv2{
        background-color:mediumpurple;
    }
    body{text-align: center;background-color: skyblue;
    }