.danhsach-sanpham {
  display: flex;
  justify-content: center; /* canh giữa toàn bộ */
  gap: 20px;               /* khoảng cách giữa các sản phẩm */
}
.sanpham{
    width: 200px;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    transition: transform 0.2s;
}
.sanpham:hover{
    transform: scale(1.05); /* phóng to nhẹ khi di chuột */
}
.sanpham img{
    width: 200px;
    height: auto;
    border-radius: 10px;
    display: block;
}
.ten{
    font-size: 25px;
    font-weight: bold;
    argin: 10px 0 5px 0;
    color: black;
}
.gia{
    font-size: 16px;
    color: blue;
    font-weight: bold;
}